<ion-header class="body">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Редактирование заявки:
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Нажмите вниз чтобы обновить..." refreshingSpinner="circles"
      refreshingText="Обновление..."></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <div *ngFor="let task of taskD">
      {{task.id}}
      <p>
        <b>Тема: </b>{{task.subject}}</p>
      <p>

        <img src="data:image/jpg;base64,{{task.owner.avatar}}" width="100" heigth="100" class="leftimg">
        <b>Инициатор:</b> {{task.owner.fio}}<br>
        <b>Организация:</b> {{task.owner.company}}<br>
      
        
        <b>Организация:</b> {{task.owner.company}}
        <br>


        <b>Телефон:</b> {{task.owner.telephone}}
        <br>
        <b>Статус:</b> {{task.status.status}}
        <span *ngIf="task.urgency.urgency">
          <p>
            <b>Срочность:</b> {{task.urgency.urgency}}</p>
        </span>
        <br>
          <b>Дата и время:</b> {{task.created}}</p>
    </div>

    <div *ngIf="edClick == true">
      <button ion-button block (click)="ChangeStat()">
        Выполнено
      </button>
    </div>
  </ion-toolbar>

  <br>

  <ion-toolbar>
    <div *ngFor="let task of taskD">
      <div padding [innerHTML]="task.comBody" *ngIf="edClick==false"></div>
    </div>

    <div *ngIf="edClick === true">
      <text-editor [formControlItem]="item"></text-editor>
      <button ion-button block (click)="AddComment($event, item.value)">
        Написать комментарий
      </button>
    </div>
  </ion-toolbar>

  <br>

  <ion-toolbar *ngIf="stats != statusTask">
    <ion-row>
      <ion-grid>
        <ion-row justify-content-center>


          <ion-col>
            <button ion-button block (click)="EditTask()">
              Редактировать
            </button>
          </ion-col>

          <ion-col *ngIf="stats === statExec">
            <button ion-button color="secondary" block icon-start (click)="TakeToWork()">
              <b>Взять в работу</b>
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-toolbar>

</ion-content>
